img {
    width: 300px;
}

i {
    font-size: 1.3em;
}

.resp {
    display: none;
}

@media all and (max-width: 1200px) {
    .resp {
        display: block;
    }
    .pc {
        display: none;
    }
}