<div class="container">
    <div class="pc animated fadeIn fast">
        <br>
        <h1>Habilidades</h1>
    </div>
    <div class="resp">
        <br>
        <h1 class="text-center animated fadeIn fast">Habilidades</h1>
        <hr>
    </div>
    <div class="animated fadeIn slow">
        <div class="row">
            <div class="col">
                <img src="./assets/programacion.png">
            </div>
            <div class="col">
                <h3 class="text-info">Tecnológicas</h3>
                <br>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Angular
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> HTML
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Typescript
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Font Awasome
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Postman
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> GitHub
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Boostrap
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Visual Studio Code
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Angular Material
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> CSS
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Responsive Design
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> GitHub
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row mt-5">
            <div class="col">
                <img src="./assets/persona.png">
            </div>
            <div class="col">
                <h3 class="text-info">Personales</h3>
                <br>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Amigable
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Alegre
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Autodidacta
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Perseverante
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Compromiso
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Flexible
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Trabajo en equipo
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Actitud positiva
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <i class="text-success fas fa-check"></i> Resolución de problemas
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>