.margin {
    margin-top: 140px;
}

.pc {
    visibility: hidden;
}

@media all and (max-width: 1200px) {
    .pc {
        visibility: visible;
    }
    .resp {
        display: none;
    }
    img {
        height: 350px;
        width: auto;
    }
    .margin {
        margin-top: 30px;
    }
    .m {
        margin-bottom: 30px;
    }
}

@media all and (max-width: 1200px) {
    img {
        height: 320px;
        width: auto;
    }
}