<div class="pc">
    <div class="container mt-5">
        <br>
        <h3 class="animated fadeIn fast">Formación académica</h3>
        <br>
        <div class="row animated fadeIn slow">
            <div class="col text-start">
                <h1 class="text-info">2011 - 2017</h1>
                <br>
                <div class="text-start">
                    <h4 class="text-warning">Instituto Privado El Obraje</h4>
                    <h5>Técnico en informática personal y profesional.</h5>
                </div>
            </div>
            <div class="col text-start">
                <h1 class="text-info">2018 - actualidad</h1>
                <br>
                <div class="text-start">
                    <h4 class="text-warning">Universidad Tecnológica Nacional</h4>
                    <h5>Ingeniería en sistemas de información.</h5>
                </div>
            </div>
            <div class="col text-start">
                <h1 class="text-info">2020 - actualidad</h1>
                <br>
                <div class="text-start">
                    <h4 class="text-warning">Plataforma Udemy</h4>
                    <h5>Cursos: Angular, Typescript, Angular avanzado.</h5>
                </div>
            </div>
        </div>
        <br>
        <h3 class="mt-5 animated fadeIn slow">Experiencia</h3>
        <br>
        <div class="row">
            <div class="col text-start animated fadeIn slow">
                <h1 class="text-info">2021</h1>
                <br>
                <div class="text-start animated fadeIn slow">
                    <h4 class="text-warning">FreeLancer</h4>
                    <h5>Creación de proyectos en Angular colaborando con un grupo de desarrolladores de entorno local.</h5>
                </div>
            </div>
            <br>
            <a class="mt-5" href="./assets/simon reigEsp.pdf">Ver CV en PDF</a>
        </div>
    </div>
</div>

<div class="respons">
    <br>
    <h1 class="text-center animated fadeIn fast">Formación académica</h1>
    <hr>
    <div class="animated fadeIn slow">
        <h1 class="text-info text-center">2011 - 2017</h1>
        <div class="mt-2">
            <h4 class="text-warning text-center">Instituto Privado El Obraje</h4>
            <h5 class="mt-2 text-center">Técnico en informática personal y profesional.</h5>
        </div>
        <br>
        <h1 class="text-info text-center">2018 - actualidad</h1>
        <div class="mt-2">
            <h4 class="text-warning text-center">Universidad Tecnológica Nacional</h4>
            <h5 class="mt-2 text-center">Ingeniería en sistemas de información.</h5>
        </div>
        <br>
        <h1 class="text-info text-center">2020 - actualidad</h1>
        <div class="mt-2">
            <h4 class="text-warning text-center">Plataforma Udemy</h4>
            <h5 class="text-center">Cursos: Angular, Typescript, Angular avanzado.</h5>
        </div>
        <br>
        <h1 class="text-center">Formación académica</h1>
        <hr>
        <h1 class="text-info text-center">2021</h1>
        <div class="text-center">
            <h4 class="text-warning">FreeLancer</h4>
            <h5>Creación de proyectos en Angular colaborando con un grupo de desarrolladores de entorno local.</h5>
            <br>
            <a class="mt-5" href="./assets/simon reigEsp.pdf">Ver CV en PDF</a>
        </div>
        <br>
    </div>
</div>