<div class="container-lg todo">
    <div class="row">
        <div class="col mt-5 w1">
            <h1 class="display-1 margen animated fadeIn fast">Simón Reig</h1>
            <h1 class="display-y text-center subt animated fadeIn fast">Desarrollador web Front-end</h1>
            <div class="row justify-content-center text-center margen animated fadeIn slow">
                <div class="col">
                    <button class="btn btn-outline-info" data-toggle="tooltip" data-html="true" title="Facebook" (click)="facebook()">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-html="true" title="Instagram" (click)="instagram()">
                        <i class="fab fa-instagram"></i>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-html="true" title="Linkedin" (click)="linkedin()">
                        <i class="fab fa-linkedin-in"></i>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-html="true" title="Gmail" (click)="git()">
                        <i class="fab fa-git-square"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col animated fadeIn slow">
            <div class="text-end">
                <img src="./assets/yo sin fondo.png">
            </div>
        </div>
    </div>
</div>